@import "./../../assets/scss/variables";

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.optionsList {
  width: 70%;
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.optionsItem {
  padding: 20px 50px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px $black;
  background-color: $gray;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 500;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}
.optionsItem:hover {
  background-color: $blue;
  color: $white;
}
.title {
  font-weight: 700;
  text-align: center;
  color: $blue;
}
.sectionTitle {
  font-weight: 700;
  color: $black;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .course,
  .options {
    padding-top: 90px;
  }
  .container {
    width: 70%;
    margin: 0 auto;
  }
  .title {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .sectionTitle {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .course,
  .options {
    padding-top: 70px;
  }
  .title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .sectionTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (max-width: 771px) {
  .optionsList {
    gap: 10px;
  }
  .optionsItem {
    font-size: 18px;
  }
  .course,
  .options {
    padding-top: 60px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .sectionTitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .optionsItem {
    font-size: 16px;
  }
}